html {
  color: #333;
  font-size: 1em;
  font-family: "Comic sans MS", "Trebuchet MS", "arial", sans-serif;
}
body {
  background: url("../imgs/coeurs_2mains.jpg") center center no-repeat;
  background-size: cover;
  width: 97%;
  margin: 0 auto;
  text-align: justify;
}
header {
  padding-top: 7%;
  text-align: center;
}
header h1,
header em {
  font-family: arial;
}
footer {
  text-align: center;
}
.etroite {
  margin: 0 auto;
  width: 70%;
}
.immatgc {
  font-family: arial;
  position: fixed;
  bottom: 0;
  right: 1%;
  width: 98%;
  text-align: right;
  border-top: 1px solid #333;
  line-height: 0.77em;
}
.immatgc p {
  font-size: .8em;
  color: grey;
}
section {
  text-align: center;
}
.block_gc7 {
  background-color: #FFFACD;
  width: 95%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px 10px 0;
  text-align: justify;
}
.minimal * {
  margin: 0;
  padding: 0 0 0 7px;
  line-height: 1;
  font-size: .85em;
  color: blue;
  -webkit-margin-before: 0;
}
.checked {
  color: #f00;
}
.centered {
  text-align: center;
}
p.right {
  text-align: right;
}
.rounded {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
input[type="text"].green {
  background: #DFF0D8;
}
input[type="text"].red {
  background: #F2DEDE;
}
table {
  margin: 0 auto;
  border: 2px solid grey;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid darkgrey;
  padding: 2px 5px;
}
a {
  font-family: arial;
  font-size: 1.22em;
  text-shadow: cornsilk 0 0 10px;
  transition: ease 5s;
}
a:hover {
  transition: ease 0.7s;
  text-shadow: red 0px 0px 5px;
  text-shadow: yellow 0px 0px 10px;
  color: red;
}
